.elements__like {
  background: url(../../../images/like_inactive.png);
  border: 0;
  width: 23px;
  height: 19px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  cursor: pointer;
}

.elements__like:hover {
  opacity: 0.5;
}
